// Heading Color
$heading: #2a303b;

// Text Color
$text: #636a76;

// Gray Background
$bg-gray: #e8f1f8;

// Primary Color
$primary: #1cc3b2;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Border Color
$border: #ebebeb;

// Hover Color
$hover: #1cc3b2;

// Secondary Color
$secondary: #afb4bf;

// Dark 2 Color
$dark2: #0e2737;